# Database Configuration
DATABASE_URL=postgres://example

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=example

# ChatGPT API Configuration
CHATGPT_API_KEY=example

# Application Configuration
APP_NAME=FiatFormaggio
METRICS_PORT=:8080

# Endpoits
JAEGER_ENDPOINT=localhost:4318

# Domain specific
APP_NAME=fiat-formaggio